.App {
  text-align: center;
}

.imgitem{
  display: flex;
  background-color:burlywood;
  width: 400px;
  height: 300px;
}

.caracitem{
 margin-left: 10px;
 padding: 30px;
 text-align: center;
}
.itemcant{
  margin-left: 5px;
  width: 1000px;
  background-color: chocolate;
  padding: 30px;
}
 .descitem{
  background-color: rgb(135, 173, 222);
  width: 600px;
  height: 300px;
  font: Arial;
  font-size:26px;
  font-style: italic;
  text-align: center;
}
.txtitem{
  margin-left: 10px;
  font: Arial;
  font-size:24px;
  font-style: italic;
}
.txtprecio{
  margin-left: 10px;
  padding-left: 10px;
  font: Arial;
  font-size:20px;
  color: brown;
}
.img1{
  width: 20%;
  }
.enlinea {
  align-items: center;
  padding: 5px;
  display:inline-flex;
}

.btn1 {
  background-color: beige;
  width: 50px;
  height: 25px;
  color: #0099CC;
  border: 2px solid #0099CC;
  border-radius: 6px;
}

.divitem{
  width: 40px;
  height: 20px;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font: italic;
  color: rgb(10, 10, 10);

  }
.divgral{
  background-color: #d1d5d6;
  width: 12%;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
