@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:300,400,700,800|Open+Sans:300');


.App {
  text-align: center;
}

.card{
  box-shadow: 0 6px 6px rgba(#000, 0.3);
  transition: 200ms;
  background: #fff;
}  
.cardtitle{
  display: flex;
  align-items: center;
  padding: 30px 40px;
}
.h3card{
  flex: 0 1 200px;
  text-align: right;
  margin: 0;
  color: #252525;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}
.iconcard{
  flex: 1 0 10px;
  background: #115dd8;
  color: #fff;
  padding: 10px 10px;
  transition: 200ms;
}
   

.marcanav{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 60px;
  font: italic;
  color: rgb(147, 218, 185);
}
.imgnav{
  width: 15%;
  height: 100%;
}
.imgcar{
  width: 10%;
  height: 100%;
}
.xxx{
  margin-left: 16px;
}

.top{
  width: 100%;
  display: flex;
  background-color:darkgray;
}
.btn-nav{
  padding:2px;
  height: 37px;
  margin-right: 3px;
  width: auto;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.enlinea {
  
  padding: 5px;
  display:inline-flex;
}

.btn1 {
  background-color: beige;
  width: 50px;
  height: 25px;
  color: #0099CC;
  border: 2px solid #0099CC;
  border-radius: 6px;
}

.divitem{
  width: 40px;
  height: 20px;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font: italic;
  color: rgb(10, 10, 10);

  }
.divgral{
  background-color: #d1d5d6;
  width: 12%;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
